.venv
__pycache__
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.db
*.sqlite3
storage/certificates/*
!storage/certificates/.gitkeep
.pytest_cache
.coverage
htmlcov/
.git
.gitignore
.DS_Store
.idea
.vscode
